body {
    width: 800px;
    margin: auto;
    background-color: white;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: "Merriweather", serif;
}

h2, h3, h4 {
    font-family: "Merriweather", serif;
}

ul.navbar {
    list-style-type: none;
    background-color: rgb(106, 187, 213);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

ul.navbar li > a {
    border-style: solid;
    border-width: 2px;
    border-color: lightgreen;
    color: white;
    padding: 0px 8px;
    text-decoration: none;
}

.content {
    color: grey;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.content a, .content a:visited {
    color: inherit;
}

.error {
    color: red;
}

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    float: right;
}

form {
    font-family: "Open Sans", sans-serif;
}

input, select, textarea { 
    width: 400px; 
    display: inline-block;
} 

input[type=radio], .radio, input[type=submit] { 
    width: auto; 
}

label {
    width: 200px;
    display: inline-block;
}

textarea {
    vertical-align: top;
}

#profiel-foto {
    width: 150px;
    height: 200px;
}

.product-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-content: flex-start;
}
  
.product {
    flex-grow: 0; /* Don't allow the item to grow */
    flex-shrink: 0; /* Don't allow the item to shrink */
    flex-basis: calc(30% - 20px); /* Set the initial width of the item */
    margin: 10px; /* Add some space between items */
    text-align: center; /* Center the content horizontally */
    text-decoration: none;
    color: black;
}

.product img {
    width: 90%;
    height: 90%;
}

.product p {
    font-family: "Open Sans", sans-serif;
}

.product a, .cart-list a {
    color: inherit;
}

.product:hover, .cart-list:hover {
    text-decoration: underline;
    color: rgb(106, 187, 213);
}

.detail img {
    width: 60%;
    height: 60%;
    display: inline-block;
    margin-right: 10px;
}

.detail p {
    font-family: "Open Sans", sans-serif;
    margin-top: 4px;
}

.detail h4 {
    margin-bottom: 4px;
    margin-top: 4px;
}

.detail-info input, #purchaseButton {
    border: none;
    font-family: "Open Sans", sans-serif;
    background-color: #D57A6A;
    color: white;
    font-size: 20px;
}

.detail-info {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-left: 10px;
}

.cart-list {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
}

.cart-list img {
    width: 15%;
    height: 15%;
    display: inline-block;
}

.cart-list p {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

#total-cart {
    font-family: "Open Sans", sans-serif;
    color: red;
}